$containerMaxWidth: 1260px;
$containerMinwidth: 320px;
$containerPadding: 15px;


$fontSize: 24px;
$lineHeight: 29px;
$fontfamily: 'Montserrat',
sans-serif;


$acentColor: #C7957E;
$acentColorLight: #EFBD9C;
$boxShadow:10px 10px 20px rgba(177, 164, 212, 0.35),
-10px -10px 10px rgba(255, 255, 255, 0.15);

$boxShadowInner:-10px -10px 10px rgba(255, 255, 255, 0.15),
inset 10px 0px 20px rgba(177, 164, 212, 0.15);

$acentColorDarck:#575757;

$md1: $containerMaxWidth+12;
$md2: 1020.98;
$md3: 767.98;
$md4: 576.98;