//<МИКСИНЫ>===============================================================================================
@import "ui/_mixins";
//</МИКСИНЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import "ui/_fonts";
//</Подключаем шрифты>=======================================================================================

//<Подключаем переменные>=======================================================================================
@import "_vars";
//</Подключаем переменные>=======================================================================================

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  font-size: 12px;
}


body {
  margin: 0;
  @include adaptiv-font(24, 14);
  line-height: $lineHeight;
  font-family: $fontfamily;
  font-weight: 400;
  color: $acentColorDarck;
}

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;

  &.loaded {}
}

.section {
  position: relative;
}

.page-main {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  flex: 1 1 auto;
}


.row {
  display: flex;
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
  max-width: $containerMaxWidth;
  margin: 0 auto;
  width: 100%;
  padding-left: $containerPadding;
  padding-right: $containerPadding;
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================
@media (min-width:$md3+px) {
  .text-aling-center {
    text-align: center;
  }
}

.currency-buttons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.currency-button {
  width: 50px;
  height: 30px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  border: 1px solid $acentColorLight;
  color: $acentColorLight;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 20px;
  }

  &__current {
    background: $acentColorLight;
    color: #fff;
  }
}

.crumbs {
  padding-left: 15px;
  margin: 27px 0px 65px 0px;

  @media (min-width:1600px) {
    padding-left: 184px;
    margin: 46px 0px 100px 0px;

  }

  &__list {
    display: flex;
  }

  &__item {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    &:before {
      margin: 0 13px;
      font-size: 14px;

      transform: rotate(180deg);
    }

    @media (max-width:$md3+px) {
      &:not(:last-child) {
        display: none;
      }
    }

    &:last-child {
      color: $acentColor;

      &:before {
        display: none;
      }
    }
  }
}



//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

@import "ui/_btn";
@import "ui/_ui";
@import "ui/_modal";
@import "ui/_range";

@import "blocks/_form";

@import "blocks/_section";
@import "blocks/_filter-dropdown";

@import "blocks/_title";
@import "blocks/_download";

@import "blocks/_header";
@import "blocks/_home";
@import "blocks/_object";
@import "blocks/_infrasrtucture";

@import "blocks/_callback";
@import "blocks/_experts";

@import "blocks/_footer";

@import "object/_object";
@import "general-object/_general-object";
@import "general-object/_about";