.page-object {
   .header {
      background-color: #000;
      color: #fff;
   }

   .menu-header__link {
      color: inherit;
   }
}

.main-object {
   @media (max-width:$md2+px) {
      padding-top: 65px;
   }



   .result-object__total {
      margin-bottom: 34px;
      padding-left: 59px;
   }

   .filter-object__title {
      text-align: center;
      text-transform: uppercase;
      font-size: 36px;
      line-height: 44px;
      font-weight: normal;
      color: #575757;
      margin-bottom: 42px;
   }

   .result-object__total {
      margin-bottom: 0;
   }

   .result-object__body {
      margin-bottom: 60px;
   }

   .crumbs {
      @media (max-width:$md2+px) {
         display: none;
      }
   }
}


.object-info {
   display: flex;
   background: #FDFCFF;
   margin-bottom: 59px;

   @media (max-width:$md1+px) {
      flex-direction: column-reverse;
      align-items: flex-start;
   }

   @media (min-width:$md1+px) {
      align-items: flex-start;
   }

   @media (min-width:$md1+px) and (max-width:1600px) {
      padding-bottom: 336px;
      position: relative;
   }

   @media(min-width:1600px) {
      margin-bottom: 89px;
   }

   &__slider {
      width: 100%;

      @media (min-width:$md1+px) {
         display: flex;
         width: 484px;
         max-height: 358px;
         margin-right: 94px;
      }

      @media (min-width:1600px) {
         margin-right: 60px;
         margin-left: -155px;
         width: 600px;
         max-height: 595px;
      }

      img {
         height: 100%;
         width: 100%;
      }
   }

   &__slider-block {
      overflow: hidden;
      width: 100%;

      @media (max-width:$md3+px) {
         height: 330px;
      }

      @media (min-width:$md3+px) and (max-width:$md1+px) {
         height: 640px;
      }

      @media (min-width:$md1+px) {
         width: 358px;
      }

      @media (min-width:1600px) {
         width: 445px;
      }
   }

   &__btn {
      padding-left: 72px;
      padding-right: 72px;
      color: #fff;
      background: #C7957E;

      @media (min-width:$md2+px) {
         padding: 22px 43px;
         font-size: 20px;
         line-height: 24px;
      }

      @media (min-width:$md1+px) and (max-width:1600px) {
         position: absolute;
         left: 0;
         bottom: 90px;
      }
   }
}

.slider-nav {
   display: flex;
   justify-content: space-between;
   width: 100%;

   @media (max-width:$md1+px) {
      margin-bottom: 24px;
   }

   @media (min-width:$md1+px) {
      flex-direction: column;
      width: 105px;
      margin-right: 20px;
   }

   @media (min-width:1600px) {
      margin-right: 25px;
      width: 130px;
   }

   &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      margin-right: 22px;

      @media (max-width:$md3+px) {
         height: 95px;
      }

      @media (min-width:$md3+px) and (max-width:$md1+px) {
         height: 116px;
      }


      @media (min-width:$md1+px) {
         margin-right: 0;
         height: 105px;

         &:not(:last-child) {
            margin-bottom: 20px;
         }
      }

      &:nth-child(3) {
         margin-right: 0;
         margin-bottom: 0;
      }

      @media (min-width:1600px) {
         &:not(:last-child) {
            margin-bottom: 20px;
         }
      }

      &:last-child {
         @media (max-width:1600px) {
            display: none;
         }
      }
   }
}

.active {}

.slider-block {}

.swiper-wrapper {}

.swiper-slide {}

.info-object {

   @media (max-width:$md1+px) {
      margin-bottom: 36px;
   }

   @media (min-width:$md1+px) {
      width: calc(100% - 582px);
   }

   &__title {
      font-weight: normal;
      font-size: 24px;
      line-height: 29px;
      color: #C7957E;
      margin-bottom: 26px;

      @media (min-width:$md1+px) {
         font-weight: 600;
         font-size: 32px;
         line-height: 39px;
         margin-bottom: 12px;
      }
   }

   &__status {
      display: inline-block;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 19px;


      &:before {
         color: $acentColor;
         margin-right: 16px;
         font-size: 25px;
      }


      @media (min-width:$md1+px) {
         font-size: 18px;
         line-height: 22px;
         margin-bottom: 10px;

         &:before {
            font-size: 20px;
            margin-right: 8px;
         }
      }
   }

   &__price-block {
      @media (min-width:$md2+px) {
         display: flex;
         align-items: center;
         justify-content: flex-start;
      }

      margin-bottom: 20px;
   }

   &__price {
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0.05em;
      color: #606060;

      @media (max-width:$md2+px) {
         margin-bottom: 24px;
      }

      @media (min-width:$md2+px) {
         margin-right: 60px;
      }

      @media (min-width:$md1+px) {
         font-size: 30px;
         line-height: 37px;
      }
   }

   .currency-buttons {
      justify-content: flex-start;
      margin-top: 0;
   }

   b {
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      color: #000000;
   }
}

.description-info {
   font-size: 18px;
   line-height: 22px;
   margin-top: 15px;
   margin-bottom: 15px;

   p {
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
      margin-bottom: 30px;

      @media (min-width:$md2+px) {
         font-size: 18px;
         line-height: 22px;
      }
   }

   &__list {
      @media (max-width:$md1+px) {
         margin-bottom: 30px;
      }

      @media (min-width:$md1+px) and (max-width:1600px) {
         position: absolute;
         left: 0;

      }
   }

   &__item {
      display: flex;
      align-items: center;
      flex: 0 1 50%;
      color: #000;

      @media (min-width:$md2+px) {
         display: inline-flex;
         width: 400px;

         &:not(:last-child) {
            margin-bottom: 36px;
         }
      }

      @media (max-width:$md2+px) {
         &:not(:last-child) {
            margin-bottom: 20px;
         }
      }

      @media (min-width:1600px) {
         width: 260px;

         &:not(:last-child) {
            margin-bottom: 20px;
         }

         &:last-child {
            margin-left: -26px;
            width: 286px;
         }

         &:nth-child(2) {
            margin-left: -27px;
         }
      }



      &:before {
         font-size: 47px;
         margin-right: 17px;

         @media (min-width:$md1+px) {
            font-size: 36px;
            margin-right: 10px;
         }
      }

      span {
         font-weight: 600;
         margin-right: 5px;
      }
   }
}