.about {

   &__row-desc {
      @media (min-width:$md3+px) {
         display: flex;
         justify-content: space-between;
         padding: 0 20px;
         margin-bottom: 70px;
      }

      @media (min-width:$md2+px) {
         padding: 0;
      }

      @media (min-width:$md2+px) and (max-width:1200px) {
         justify-content: space-around;
      }
   }

   &__col-description {
      @media (max-width:$md3+px) {
         margin-bottom: 84px;
      }

      @media (min-width:$md4+px) and (max-width:$md3+px) {
         text-align: center;
      }

      @media (min-width:$md2+px) {
         padding-top: 36px;
      }

      @media (min-width:1200px) {
         padding-top: 86px;
      }
   }

   &__col-img {
      position: relative;
      /*flex: 0 1 511px;
      min-width: 0;*/
   }

   &__suptitle {
      font-size: 24px;
      font-weight: normal;
      text-align: center;

      @media (min-width:$md3+px) {
         text-align: left;
      }

      @media (min-width:1200px) {
         font-size: 32px;
         margin-bottom: 7px;
      }
   }

   &__title {
      font-size: 36px;
      color: #000;
      margin-bottom: 41px;

      @media (min-width:1200px) {
         font-size: 64px;
      }
   }

   &__description {
      margin-bottom: 50px;
   }

   &__description-item {
      display: flex;
      align-items: center;
      font-size: 16px;

      @media (min-width:1200px) {
         font-size: 24px;
      }

      &:not(:last-child) {
         margin-bottom: 18px;

         @media (min-width:1200px) {
            margin-bottom: 32px;
         }
      }

      &:before {
         font-size: 26px;
         margin-right: 20px;

         @media (min-width:1200px) {
            font-size: 36px;
            margin-right: 32px;
         }
      }

      @media (min-width:$md4+px) and (max-width:$md3+px) {
         justify-content: center;
      }
   }

   &__img {
      position: relative;
      max-width: 360px;
      margin: 0 auto;

      @media (max-width:$md3+px) {
         margin-bottom: 70px;
      }

      @media (min-width:$md2+px) {
         display: none;
      }
   }

   &__icon-img {
      position: absolute;
      top: 60px;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
   }

   &__col-info {
      background: #F9F9F9;

      @media (max-width:$md3+px) {
         margin-bottom: 20px;
      }

      @media (min-width:1200px) {
         margin-left: -100px;
      }
   }

   &__info {
      @media (max-width:$md2+px) {
         padding: 44px 25px;
      }

      @media (min-width:$md2+px) {
         padding: 56px 50px 71px 100px;
      }

      .about__title {
         margin-bottom: 27px;
         text-align: left;
      }
   }

   &__text {
      font-size: 14px;

      @media (min-width:$md2+px) {
         font-size: 18px;
      }

      @media (min-width:1200px) {
         max-width: 60%;
         padding-right: 50px;
      }
   }
}

.about-slider {

   &__main {
      @media (max-width:1200px) {
         max-width: 360px;
         margin: 0 auto;
         margin-bottom: 70px;
      }

      @media (min-width:1200px) {
         max-width: 511px;
      }
   }


   &__nav {
      @media (max-width:$md2+px) {
         max-width: 360px;
         margin: 0 auto;
         margin-bottom: 20px;
      }

      @media (min-width:$md2+px) {
         position: relative;
         top: -55px;
         max-width: 630px;
         margin-bottom: 110px;
      }

      @media (min-width:$md2+px) and (max-width:1200px) {
         margin-left: 115px;

         .slider-controls__btn span {
            top: 53%;
         }
      }

      .slider-controls {
         width: auto;
         left: unset;
         right: unset;
         bottom: unset;
         position: relative;
      }

      .swiper-slide {
         position: relative;
         height: 55px;

         @media (min-width:$md2+px) {
            height: 110px;
         }

         img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
         }
      }
   }

}

.swiper {
   overflow: hidden;
}


.about-slider-controls {
   @media (max-width:$md2+px) {
      display: none;
   }

   margin-bottom: 40px;
}