.page-general-object {
   .header {
      background-color: #000;
      color: #fff;

      @media (min-width:1600px) {
         margin: 0;
         padding: 34px 75px;
      }
   }


   .table-head__group {
      display: flex;
      justify-content: space-between;

      @media (max-width:$md4+px) {
         &:first-child {
            flex: auto;
         }
      }

      .table-head__item {

         @media (max-width:$md4+px) {
            &:first-child {
               margin-right: 10px;
            }
         }

         @media (min-width:$md4+px) {
            &:first-child {
               margin-right: 39px;
            }
         }


         &:last-child {
            display: unset;
         }
      }

      .dn {
         @media (max-width:$md4+px) {
            display: none;
         }
      }
   }

   .infrasrtucture__ating {
      display: inline-block;
      line-height: 50px;
      width: 50px;
      height: 50px;
      background-color: $acentColor;
      border-radius: 50%;
      color: #fff;

      @media (max-width:$md4+px) {
         width: 30px;
         height: 30px;
         line-height: 30px;
         font-size: 14px;
      }
   }

   .table-body__row {
      @media (max-width:$md4+px) {
         padding-left: 10px;
         padding-right: 10px;
      }
   }

   .table-body__col {
      text-align: center;
      flex: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 10px;

      @media (max-width:$md4+px) {
         font-size: 14px;
         line-height: 18px;

         &:nth-child(3) {
            display: none;
         }
      }
   }
}

.general-object {}