.experts {
   padding: 95px 0;

   .pen {
      position: absolute;

      @media (max-width:$md2+px) {
         top: 81px;
         right: 20px;
         width: 69px;
      }

      @media (min-width:$md2+px) and (max-width:$md1+px) {
         width: 110px;
         top: -55px;
         right: 0;
      }

      @media (min-width:$md1+px) {
         width: 135px;
         top: -68px;
         right: 0;
      }
   }

   &__container {
      max-width: 1386px;
   }

   &__title {
      margin-bottom: 34px;

      @media (max-width:$md3+px) {
         span {
            display: block;
         }
      }

      @media (min-width:$md3+px) {
         margin-bottom: 50px;
      }

      @media (min-width:$md3+px) {
         padding: 0 100px;
      }
   }

   &-slider__slide {
      @media (min-width:$md2+px) {
         display: flex;
         align-items: center;
      }
   }

   &__img-wrapper {
      background-image: url(../img/experts/circle.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width:$md2+px) {
         width: 245px;
         height: 245px;
         margin: 0 auto;
      }

      @media (min-width:$md2+px) {
         position: absolute;
         top: -30px;
         left: -150px;
         flex: 0 0 382px;
         width: 382px;
         height: 382px;
      }

      @media (min-width:$md1+px) {
         flex: 0 0 467px;
         width: 467px;
         height: 467px;
         top: -40px;
      }
   }

   &__img {
      position: relative;
      border-radius: 50%;

      @media (max-width:$md2+px) {
         width: 205px;
         height: 205px;
      }

      @media (min-width:$md2+px) {
         width: 321px;
         height: 321px;
      }

      @media (min-width:$md1+px) {
         width: 392px;
         height: 392px;
      }

      img {
         border-radius: 50%;
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
      }
   }

   &__content {
      position: relative;
      background: #FFFFFF;
      box-shadow: 10px 10px 25px rgba(229, 229, 229, 0.75);
      z-index: -1;

      @media (max-width:$md2+px) {
         margin-bottom: 21px;
         padding: 145px 26px 97px 26px;
         margin-top: -126px;
      }

      @media (min-width:$md3+px) and (max-width:$md2+px) {
         padding-left: 38px;
         padding-right: 38px;
      }

      @media (min-width:$md2+px) {
         width: 100%;
         padding: 51px 56px 100px 276px;
         margin-bottom: 40px;
      }

      @media (min-width:$md1+px) {
         padding: 63px 141px 137px 350px;
      }
   }

   &__content-inner {
      max-width: 740px;
   }

   &__name {
      font-family: 'Forum';
      font-weight: normal;
      font-size: 24px;
      line-height: 26px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $acentColor;
      margin-bottom: 11px;

      @media (min-width:$md2+px) {
         font-size: 42px;
         line-height: 46px;
         margin-bottom: 29px;
      }
   }

   &__coment {
      color: #575757;

      @media (min-width:$md2+px) {
         font-size: 20px;
         line-height: 24px;
      }

      @media (min-width:$md1+px) {
         font-size: 22px;
         line-height: 27px;
      }
   }

   .object {

      &__decor-top {
         width: 250px;
      }
   }
}

.experts-slider {

   overflow: visible;

   .swiper-slide-active {
      opacity: 1;
   }

   &__slide {
      opacity: 0;
   }

   &__pagination {
      display: flex;
      justify-content: center;
      z-index: 3;

      @media (min-width:$md2+px) {
         justify-content: flex-end;
      }

      .swiper-pagination-bullet {
         width: 25px;
         height: 25px;
         cursor: pointer;
         background-image: url(../img/icons/hexagon-pagination.svg);
         background-position: center;
         background-size: cover;
         background-repeat: no-repeat;
         background-color: #fff;
         opacity: 1;
      }

      .swiper-pagination-bullet-active {
         background-image: url(../img/icons/hexagon-pagination-active.svg);
      }
   }
}

.slider-controls {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: absolute;
   right: 0;
   left: 0;
   bottom: 68px;
   z-index: 1;

   @media (min-width:$md3+px) and (max-width:$md2+px) {
      width: calc(100% - 76px);
      left: 38px;
      right: 38px;
   }

   @media (min-width:$md2+px) {
      bottom: 86px;
      right: 15px;
      left: 276px;
   }

   @media (min-width:$md1+px) {
      left: 350px;
      bottom: 106px;
   }

   &__btn {
      position: relative;
      width: 44px;
      height: 50px;
      cursor: pointer;

      &:before {
         font-size: 50px;
         color: $acentColorLight;
      }

      span {
         position: absolute;
         top: 56%;
         left: 50%;
         transform: translate(-50%, -50%);
         z-index: 1;

         @media (min-width:$md2+px) {
            top: 48%;
         }

         &:before {
            color: #fff;
            font-size: 15px;
         }
      }
   }

   &__line {
      height: 1px;
      flex: 1px;
      background-color: $acentColorLight;
      margin: 0 23px;
   }

   &__btn-next {
      transform: rotate(180deg);
   }
}