.footer {
   background-color: #000;

   @media (max-width:1200px) {
      padding: 65px 43px;
   }

   @media (min-width:1200px) {
      padding: 105px 70px 42px 70px;
   }

   &__body {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #D5B987;
      margin-bottom: 34px;
      padding-bottom: 51px;

      @media (max-width:1200px) {
         flex-direction: column;
      }
   }

   &__col {
      flex: 0 1 25%;
   }

   &__main {
      @media (max-width:1200px) {
         margin-bottom: 65px;
      }

      @media (min-width:1200px) {
         flex: 0 1 320px;
      }
   }

   &__logo {
      display: inline-block;

      @media (min-width:1200px) {
         margin-bottom: 128px;
      }
   }

   &__social {
      @media (max-width:1200px) {
         text-align: center;
         margin-bottom: 44px;
         display: flex;
         justify-content: center;
      }
   }

   &__social-item {
      display: inline-block;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: $acentColorLight;
      text-align: center;
      transition: background 0.3s;

      @media (min-width:1200px) {
         &:first-child {
            margin-right: 31px;
         }

      }

      &:before {
         line-height: 70px;
         font-size: 36px;
         color: #000;
      }

      @media (max-width:1200px) {
         background-color: $acentColor;
         margin-right: 23px;

         &:before {
            color: #fff;
         }

         &:hover {
            background-color: $acentColorLight;
         }
      }
   }


   &__text {
      text-align: right;
      margin-right: 25px;

      @media (max-width:1200px) {
         text-align: center;
      }

      @media (min-width:1200px) {
         flex: 0 1 299px;
      }
   }

   &__bottom {
      display: flex;
      justify-content: space-between;

      @media (max-width:1200px) {
         flex-direction: column;
         text-align: center;
      }

      p {
         color: $acentColorLight;

         @media (max-width:1200px) {
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 23px;
         }
      }

      a {
         text-decoration-line: underline;
         color: #fff;

         @media (max-width:1200px) {
            font-size: 18px;
            line-height: 22px;
         }
      }
   }
}


.menu-footer {

   @media (min-width:1200px) {
      margin: 0 25px;
   }

   @media (max-width:1200px) {
      width: 50%;
      margin: 0 auto;
      margin-bottom: 65px;
   }

   @media (max-width:$md4+px) {
      width: auto;
   }

   &__list {
      columns: 2;
   }

   &__item {
      @media (max-width:1200px) {
         text-align: center;
      }

      &:not(:last-child) {
         margin-bottom: 16px;
      }
   }

   &__link {
      @include adaptiv-font(20, 12);
      line-height: 24px;
      color: #fff;
      transition: color 0.3s ease 0s;

      &:hover {
         color: $acentColor;
         text-shadow: 0 0 .75px $acentColor, 0 0 .75px $acentColor;
      }
   }
}



.action-footer {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: space-between;

   &__item {
      div {
         flex: 0 0 70px;
         width: 70px;
         height: 70px;
         border-radius: 50%;
         background-color: #EFBD9C;
         text-align: center;
         cursor: pointer;

         &:before {
            font-size: 36px;
            line-height: 70px;
            color: #fff;
         }


         &:hover {
            background-color: $acentColorLight;
            transition: background 0.3s;
         }
      }

      span {
         @include adaptiv-font(20, 12);
         line-height: 24px;
         font-style: italic;
         font-weight: 500;
         color: #fff;
         margin-right: 28px;
      }

   }

   &__bell {
      display: flex;

      div {
         background-color: $acentColor;
      }

      span {
         @media (max-width:1200px) {
            display: none;
         }
      }
   }

   &__up {
      div {
         transform: rotate(180deg);

         &:before {
            color: #000;
         }
      }
   }

   &__line {
      flex: 1;
      width: 1px;
      margin: 25px 0;
      margin-right: 34px;
      background-color: $acentColorLight;
   }
}