.home {
   @media (min-width:1200px) {
      background-image: url(../img/home/home-bg.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
   }

   &__container {
      max-width: 1450px;

      @media (min-width:$md3+px) {
         padding-left: 50px;
         padding-right: 50px;
      }

      @media (min-width:1600px) {
         padding: 0;
      }
   }

   &__body {
      padding-top: 65px;

      @media (max-width:$md3+px) {
         text-align: center;
      }

      @media (min-width:1600px) {
         padding-top: 75px;
      }
   }

   &__row {
      @media (min-width:1200px) {
         display: flex;
         align-items: center;
      }

      @media (min-width:1600px) {
         align-items: flex-start;
      }
   }

   &__col {
      &:last-child {
         display: flex;
         justify-content: center;

         @media (min-width:$md2+px) {
            padding-bottom: 54px;
         }

         @media (min-width:1200px) {
            flex: 0 0 510px;
            position: relative;
         }

         @media (min-width:1600px) {
            left: -230px;
         }
      }
   }

   &__img {
      @media (max-width:1200px) {
         display: none;
      }

      @media (min-width:1600px) {
         width: 1141px;
      }
   }

   &__download-block {
      margin-top: 72px;
      background: #fff;

      @media (max-width:$md2+px) {
         min-height: 350px;
      }

      @media (min-width:1200px) {
         flex: 0 1 407px;
         padding: 64px 42px;
      }

      @media (min-width:1500px) {
         margin-top: 104px;
         flex: 0 1 490px;
      }
   }

   &__download-input {
      border-bottom: 1px solid #000000;

      &::placeholder {
         color: #000000;
      }
   }
}