.object {
   background: linear-gradient(180deg, #FAFAFA 0%, #FFFFFF 100%);
   padding-top: 87px;


   @media (max-width:$md2+px) {
      padding-top: 67px;
   }

   @media (min-width:$md2+px) {
      padding-bottom: 60px;
   }

   &__title {
      color: $acentColor;
      margin-bottom: 51px;
      text-align: center;

      @media (max-width:$md2+px) {
         margin-bottom: 25px;
      }
   }

   &__decor-top {
      position: absolute;
      top: 0;
      right: 0;

      @media (max-width:$md3+px) {
         width: 40%;

      }

      @media (max-width:1600px) {
         width: 15%;
      }
   }

   &__decor-bottom {
      position: absolute;
      left: 0;
      bottom: 0;
      transform: rotate(180deg);

      @media (max-width:$md3+px) {
         width: 40%;

      }

      @media (max-width:1600px) {
         width: 15%;
      }
   }

   &__decor-logo {
      position: absolute;
      bottom: 85px;
      left: 85px;

      @media (max-width:$md2+px) {
         display: none;
      }
   }
}

.filter-object {

   &__reset {
      display: flex;
      align-items: center;
      font-weight: normal;
      @include adaptiv-font(18, 14);
      line-height: 1.2;
      color: $acentColorLight;

      span {
         text-decoration-line: underline;
      }

      &:before {
         margin-right: 23px;
      }
   }

   &__btn {
      @media (max-width:$md2+px) {

         width: 245px;
         margin-bottom: 19px;
      }
   }

}

.filter-head {

   @media (max-width:1200px) {
      margin-bottom: 47px;
   }

   @media (min-width:1200px) {
      margin-bottom: 103px;
   }

   &__body {
      position: relative;
      z-index: 1;

      @media (min-width:$md3+px) {
         display: flex;
         flex-wrap: wrap;
      }
   }

   &__col {

      @media (min-width:$md3+px) {
         flex: 1 1 50%;
      }
   }

   &__item {
      padding: 24px;
      background: #FFFFFF;
      border: 1px solid #E5E5E5;
      cursor: pointer;

      @media (min-width:1200px) {
         padding: 36px 0px 0px 43px;
         min-height: 192px;
      }

      &.active {
         position: relative;
         background-image: url(../img/object/object-bg.png);
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center;

         &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
         }

         p {
            color: #fff;
         }
      }


      span {
         position: relative;
         font-family: 'Forum';
         font-weight: normal;
         @include adaptiv-font(56, 30);
         line-height: 1.2;
         text-transform: uppercase;
         color: $acentColorLight;
         z-index: 1;
      }

      p {
         position: relative;
         font-family: 'Forum';
         @include adaptiv-font(32, 16);
         line-height: 1.2;
         text-transform: uppercase;
         color: #575757;
         z-index: 1;
      }
   }

   &__bottom {
      display: flex;
      align-items: center;

      @media (max-width:$md2+px) {
         flex-direction: column-reverse;
      }

      @media (min-width:$md2+px) {
         justify-content: space-between;
      }
   }
}


.select-filter {
   border: 1px solid $acentColor;
   box-shadow: 10px 10px 25px rgba(199, 149, 126, 0.2);

   &__list {

      @media (min-width:$md3+px) {
         display: flex;
         justify-content: space-between;
      }

      @media (max-width:$md3+px) {
         padding: 42px 0;
      }

      @media (min-width:$md3+px) {
         padding-left: 24px;
         padding-right: 24px;
      }

      @media (min-width:1200px) {
         padding-left: 44px;
         padding-right: 44px;
      }
   }

   &__item {
      position: relative;

      &-open-right {
         .select-filter__dropdown {
            left: auto;
            right: 0;
         }
      }

      @media (max-width:$md3+px) {
         padding: 0 42px;
      }

      @media (min-width:$md3+px) {
         padding: 31px 0;
      }
   }

   &__button {
      position: relative;
      padding-right: 30px;
      @include adaptiv-font(18, 16);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 1.2;
      color: #575757;
      cursor: pointer;
      z-index: 3;

      @media (max-width:$md3+px) {
         display: flex;
         align-items: center;
         flex-direction: row-reverse;
         justify-content: space-between;
         margin-bottom: 21px;
         width: 100%;
      }

      @media (min-width:$md3+px) {
         max-width: 220px;
      }

      @media (min-width:$md3+px) and (max-width:$md2+px) {
         font-size: 14px;
      }

      &:before {
         color: $acentColorLight;

         @media (min-width:$md3+px) {
            position: absolute;
            top: 0;
            right: 0;
         }
      }
   }


}

.result-object {

   &__head {
      display: flex;
      justify-content: space-between;
      margin-bottom: 48px;

      @media (max-width:$md3+px) {
         justify-content: center;
         margin-bottom: 24px;
      }
   }

   &__nav {
      display: flex;

      @media (max-width:$md3+px) {
         display: none;
      }
   }

   &__nav--item {
      position: relative;
      display: flex;
      align-items: center;
      color: #575757;
      transition: color 0.3s ease 0s;
      cursor: pointer;

      &:before {
         color: $acentColor;
         font-size: 20px;
      }

      @media (max-width:1200px) {

         &:before {
            margin-right: 13px;
         }
      }

      @media (min-width:1200px) {
         &:not(:last-child) {
            margin-right: 28px;
         }

         &:before {
            margin-right: 21px;
         }
      }

      &.active,
      &:hover {
         color: $acentColor;
         text-shadow: 0 0 .75px $acentColor, 0 0 .75px $acentColor;

         &:before {
            color: $acentColor;
         }

      }

      &.icon-list {
         &:before {
            font-size: 15px;
         }
      }
   }

   &__total {
      span {
         font-weight: 600;
      }
   }
}

.result-object__list {
   .item-object {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 26px;
      border: 1px solid $acentColorLight;

      &__img {
         width: 31.5%;
         flex: 0 1 31.5%;
      }

      &__content {
         flex: 0 1 307px;
         margin: 0 5px;
      }

      &__button {
         flex: 0 1 349px;
      }
   }
}

.result-object__gallery {
   .result-object__body {
      @media (min-width:$md3+px) {
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap;
      }
   }

   .item-object {
      @media (min-width:$md3+px) {
         width: 31.5%;
         flex: 0 1 31.5%;
      }

      &__img {
         margin-bottom: 13px;

      }

      &__price {
         margin-bottom: 12px;
         color: $acentColor;
      }
   }
}

.item-object {
   margin-bottom: 40px;
   background: #FFFFFF;

   @media (max-width:$md3+px) {
      padding: 40px;
      border: 1px solid #EFBD9C;
   }

   &__img {
      position: relative;
      width: 100%;
      height: 252px;

      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
      }
   }

   &__title {
      font-family: 'Forum';
      font-weight: normal;
      font-size: 36px;
      line-height: 40px;
      text-transform: uppercase;
      color: $acentColor;
      margin-bottom: 6px;
   }

   &__desc {
      @include adaptiv-font(20, 16);
      font-weight: 600;
      margin-bottom: 10px;
      padding-right: 35px;

   }

   &__list {
      display: flex;
      margin-bottom: 10px;

      li {
         display: flex;
         align-items: center;
         position: relative;
         @include adaptiv-font(20, 12);
         color: #575757;

         &:not(:last-child) {
            &:after {
               content: '';
               height: 75%;
               width: 1px;
               background-color: #575757;
               margin: 0 7px;
            }
         }
      }
   }

   &__location {
      margin-bottom: 8px;

      &:before {
         margin-right: 9px;
         color: $acentColor;
      }
   }

   &__price {
      font-weight: 600;
      @include adaptiv-font(36, 18);
      line-height: 44px;
      color: $acentColor;
   }

   &__btn {
      width: 100%;

      &:first-child {
         margin-bottom: 10px;
      }
   }

   &__btn--transparent {
      border: 2px solid #C7957E;
      background-color: transparent;
   }
}