.result-object {

   &__head {
      display: flex;
      justify-content: space-between;
      margin-bottom: 48px;

      @media (max-width:$md3+px) {
         justify-content: center;
         margin-bottom: 24px;
      }
   }

   &__nav {
      display: flex;

      @media (max-width:$md3+px) {
         display: none;
      }
   }

   &__nav--item {
      position: relative;
      display: flex;
      align-items: center;
      font-size: 20px;
      line-height: 1.2;
      color: #575757;
      transition: color 0.3s ease 0s;
      cursor: pointer;

      &:not(:last-child) {
         margin-right: 18px;
      }

      &:before {
         color: $acentColor;
         font-size: 20px;
         margin-right: 20px;
      }

      @media (min-width:1200px) {
         &:not(:last-child) {
            margin-right: 28px;
         }

         &:before {
            margin-right: 20px;
         }
      }

      &.active,
      &:hover {
         color: $acentColor;
         text-shadow: 0 0 .75px $acentColor, 0 0 .75px $acentColor;

         &:before {
            color: $acentColor;
         }

      }

      &.icon-list {
         &:before {
            font-size: 15px;
         }
      }
   }


   &__total {
      span {
         font-weight: 600;
      }
   }
}

.result-object__list {
   .item-object {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 26px;
      border: 1px solid $acentColorLight;

      &__img {
         width: 31.5%;
         flex: 0 1 31.5%;
      }

      &__content {
         flex: 0 1 320px;
         margin: 0 5px;
      }

      &__button {
         flex: 0 1 349px;
      }
   }
}

.result-object__gallery {
   .result-object__body {
      @media (min-width:$md4+px) {
         display: flex;
         justify-content: space-around;
         flex-wrap: wrap;
      }

      @media (min-width:1500px) {
         justify-content: space-between;
      }
   }

   .item-object {
      @media (min-width:$md2+px) {
         width: 27.5%;
         flex: 0 1 27.5%;
      }

      @media (min-width:1500px) {
         width: 31.5%;
         flex: 0 1 31.5%;
      }

      &__img {
         margin-bottom: 13px;

      }

      &__price {
         margin-bottom: 12px;
         color: $acentColor;
      }

      &__desc {

         @media (min-width:$md4+px) {
            max-width: 70%;
         }
      }
   }
}

.item-object {
   margin-bottom: 40px;
   background: #FFFFFF;


   @media (max-width:$md3+px) {
      padding: 40px;
      border: 1px solid #EFBD9C;
   }

   @media (min-width:$md3+px) {
      border: 1px solid #F0F0F0;
   }

   &__content {
      @media (min-width:$md3+px) {
         padding: 0 10px;
      }
   }

   &__img {
      position: relative;
      width: 100%;
      height: 176px;
      margin-bottom: 16px;

      @media (min-width:1500px) {
         height: 252px;
      }

      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
      }
   }

   &__title {
      font-family: 'Forum';
      font-weight: normal;
      font-size: 20px;
      line-height: 1.2;
      color: $acentColor;
      margin-bottom: 10px;
      text-transform: uppercase;

      @media (min-width:$md2+px) {
         font-size: 30px;
         margin-bottom: 6px;
      }
   }

   &__desc {
      font-weight: 600;
      font-size: 16px;
      line-height: 1.2;
      color: #000000;
      margin-bottom: 15px;

      @media (min-width:$md2+px) {
         font-size: 17px;
      }

      @media (min-width:1500px) {
         margin-bottom: 10px;
      }
   }

   &__list {
      display: flex;
      margin-bottom: 10px;


      li {
         display: flex;
         align-items: center;
         position: relative;
         @include adaptiv-font(20, 12);
         color: #575757;

         @media (min-width:$md2+px) {
            font-size: 17px;
         }

         &:not(:last-child) {
            &:after {
               content: '';
               height: 75%;
               width: 1px;
               background-color: #575757;
               margin: 0 7px;
            }
         }
      }
   }

   &__location {
      margin-bottom: 8px;
      font-size: 16px;

      @media (min-width:$md2+px) {
         font-size: 17px;
      }


      &:before {
         margin-right: 9px;
         color: $acentColor;
      }
   }

   &__price {
      font-weight: 600;
      font-size: 20px;
      line-height: 1.2;
      color: $acentColor;
      margin-bottom: 16px;

      @media (min-width:$md2+px) {
         font-size: 24px;
      }

      @media (min-width:1500px) {

         margin-bottom: 12px;
         text-align: left;
      }
   }

   &__button {
      @media (min-width:$md3+px) {
         padding: 0 10px 10px 10px;
      }
   }

   &__btn {
      border: 2px solid transparent;

      &:first-child {
         margin-bottom: 10px;
      }


   }

   &__btn--transparent {
      border: 2px solid #C7957E;
      background-color: transparent;
   }
}