.title {
   font-family: 'Forum';
   @include adaptiv-font(68, 32);
   line-height: 82px;
   font-weight: normal;
   letter-spacing: 0.05em;
   text-transform: uppercase;
   color: #000000;

   @media (max-width:$md2+px) {
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 25px;
   }
}

.suptitle {
   @include adaptiv-font(38, 18);
   line-height: 44px;
   color: $acentColor;
   margin-bottom: 24px;

   @media (max-width:$md2+px) {
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 16px;
   }
}

.section__title {
   font-family: 'Forum';
   font-weight: normal;
   @include adaptiv-font(54, 30);
   line-height: 1.2;
   letter-spacing: 0.05em;
   text-transform: uppercase;
   color: $acentColorLight;
   margin-bottom: 51px;

   @media (max-width:$md2+px) {
      text-align: center;
   }
}