.title {
   font-family: 'Forum';
   font-size: 36px;
   line-height: 42px;
   font-weight: normal;
   letter-spacing: 0.05em;
   text-transform: uppercase;
   color: #000000;
   margin-bottom: 94px;

   @media (min-width:1700px) {
      font-size: 60px;
      line-height: 66px;
   }


   span {
      display: block;
   }
}

.suptitle {
   font-size: 24px;
   line-height: 29px;
   color: $acentColor;
   margin-bottom: 16px;


   @media (min-width:$md1+px) {
      font-size: 32px;
      line-height: 39px;
      margin-bottom: 10px;
   }
}

.section__title {
   font-family: 'Forum';
   font-weight: normal;
   @include adaptiv-font(46, 30);
   line-height: 1.2;
   letter-spacing: 0.05em;
   text-transform: uppercase;
   color: $acentColorLight;
   text-align: center;
   margin-bottom: 25px;

   @media (min-width:$md2+px) {
      margin-bottom: 48px;
   }
}