//<BUTTONS>====================================================================================================
.btn {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   padding: 18px 0;
   background: #EFBD9C;
   text-align: center;
   color: #000;
   font-weight: 600;
   font-size: 14px;
   line-height: 17px;
   transition: background 0.3s ease 0s;

   @media (min-width:$md2+px) {
      padding: 22px 0;
      font-size: 20px;
      line-height: 24px;
   }

   &:hover {
      background-color: $acentColor;
   }

   &.btn-load {
      border: 2px solid #C7957E;
      background-color: transparent;
      padding: 17px 74px;
   }
}

//</BUTTONS>====================================================================================================