//<BUTTONS>====================================================================================================
.btn {
   @include button-reset;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   padding: 30px 0px;
   width: 349px;
   background-color: $acentColorLight;
   text-align: center;
   font-weight: 600;
   font-size: 22px;
   line-height: 27px;
   color: #000;
   transition: background 0.3s ease 0s;

   @media (max-width:$md2+px) {
      font-size: 14px;
      line-height: 17px;
      padding-top: 18px;
      padding-bottom: 18px;
   }

   @media (max-width:$md4+px) {
      width: 100%;
   }

   &:hover {
      background-color: $acentColor;
   }

   &.fw {
      width: 100%;
   }
}

//</BUTTONS>====================================================================================================